/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


.primary-color{
  color: #03312E !important;
}

.secundary-color{
  color: #015045 !important;
}

.third-color{
  color: #9A4D24 !important;
}


.main-nav{
  background-color: #015045;
}

.main-footer{
  background-color: #015045;
}

.user-img{
  max-width: 100px!important;
}

.user-img-greyscale{
filter: grayscale(1);
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: #015045;
}

.tabs .tab a {
  color: #03312E;
}

.tabs .indicator{
  background-color: #9A4D24;
}